# === Backend (Java / Spring Boot) ===
backend/target/
*.log

# === Frontend (Angular) ===
sistema-pagos-frontend/node_modules/
sistema-pagos-frontend/dist/
sistema-pagos-frontend/.angular/

# === IDEs ===
.idea/
.vscode/
*.iml

# === OS files ===
Thumbs.db
.DS_Store