<mat-toolbar color="primary">
  <span>Sistema de Pagos</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Inicio
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      Bienvenido al Sistema de Pagos
    </mat-card-content>
    <mat-card-actions>
      <!-- Botón que lleva al login -->
      <button mat-raised-button color="primary" routerLink="/login">
        Ir al Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>