mat-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 24px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

mat-card-header {
  justify-content: center;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block;
  margin: 24px auto 0 auto;
}
.file-name {
  margin-left: 12px;
  font-style: italic;
  color: #333;
  font-weight: 500;
}
.full-width button {
  margin-top: 8px;
}