.footer {
  background-color: #1976d2;
  color: white;
  text-align: center;
  padding: 12px;
  position: sticky;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.footer p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}


@media (max-width: 600px) {
  .footer {
    font-size: 12px;
    padding: 8px;
  }
}